/* Product-details */
:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.product-details{
    position: relative;
    margin-top: 3rem;
}

.product-details .product-details-left{
    padding-right: 2rem;
}
.product-details .product-details-right{
    padding-left: 2rem;
}
.product-details .product-content{
    width: 100%;
}

.product-details .product-badge{
	position: absolute;
	background-color: var(--color-theme-danger);
	font-size: 0.8125rem;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	height: 1.6rem;
	width: 3.4rem;
	z-index: 10;
}

.product-details .img-showcase img{
    width: 100%;
    display: block;
}

.product-details .img-item img{
    border: 1px solid var(--color-theme-border);
    width: 100%;
    display: block;
    padding: 0.125rem;
}

.product-details .image-wrapper{
    padding: 1.5rem;
    border: 1px solid var(--color-theme-border);
}

.product-details .img-display{
    overflow: hidden;
}
.product-details .img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.product-details .img-showcase img{
    min-width: 100%;
}

.product-details .img-select{
    display: flex;
}
.product-details .img-item{
    margin-top: 0.5rem;
}

.product-details .img-select .img-item:not(:first-child){
    margin-left: 0.5rem;
}
.product-details.img-item:nth-child(1),
.product-details .img-item:nth-child(2),
.product-details .img-item:nth-child(3){
    margin-right: 0;
}
.product-details .img-item:hover{
    opacity: 0.8;
}

.product-details .product-title{
    font-size: 1.625rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin-bottom: 1rem;
}
.product-details .product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-details .product-link{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
    color: black;
    transition: all 0.5s ease;
}
.product-details .product-link:hover{
    color: black;
}
.product-details .product-rating{
    margin-top: 1rem;
    color: #ffc107;
}
.product-details .product-rating span{
    color: var(--color-main-text);
}
.product-details .product-price{
    margin: 1rem 0;
    font-weight: 600;
}

.product-details .product-price .last-price{
    font-size: 1.5rem;
}

.product-details .product-price .new-price{
    font-size: 1.875rem;
}

.product-details .product-price .last-price span{
    font-weight: 400;
    font-size: 1.5rem;
    color: #9AA5B3;
    text-decoration: line-through;
}

.product-details .product-price .new-price span{
    font-weight: 400;
    font-size: 1.875rem;
    color: #f64749;
}

.product-details .product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
    font-size: 1.5rem;
}

.product-detail ul{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.product-detail ul li{
    margin-top: 0.5rem;
    list-style: disc;
}

.purchase-info .btn:first-child{
    height: 2.875rem;
    width: 8.75rem;
    font-size: 0.9375rem;
    font-weight: 500;
    background-color: var(--color-shop-button);
}

.purchase-info .btn:first-child:hover{
    background-color: #037535;
    color: #fff;
}
.purchase-info .btn:last-child i{
    font-size: 1rem;
    margin-right: 0.5rem;
}
.purchase-info .btn:last-child{
    border: none;
    outline: none;
    margin-left: 1.5rem;
    font-weight: 400;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--color-text-light);
}

.purchase-info .btn:last-child:hover{
    color: var(--color-main-text);
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.social-links p {
    margin-right: 2rem;
}

.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color-main-text);
    border: 1px solid var(--color-main-text);
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s ease;
    margin-right: 1rem;
}

.social-links i {
    font-size: 1.5rem;
}

.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.product-info{
    border: 1px solid var(--color-theme-border);
    border-radius: 8px;
    min-width: 32rem;
}

.product-info-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--color-theme-border);
    height: 6rem;
    padding: 1.25rem;
}

.spinner{
    height: 3rem;
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dde2e8;
    border-radius: 4px;
    margin-right: 1rem;
    box-shadow: 1px 1px 3px rgb(35 35 35 / 8%);
    padding: 0.25rem;
}

div.prev,div.next span{
    margin-top: -3px;
}
div.prev{
    height: 2.875rem;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
}

div.next{
    height: 2.875rem;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
}

.number-spinner input{
    width: 42px;
    height: 2.875rem;
    border: none;
    outline: none;
    text-align: center;
}

.number-spinner input[type=number]::-webkit-inner-spin-button, 
.number-spinner input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}

.product-info-bottom{
    height: 3.5rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-info-bottom span{
    margin-left: 1rem;
    font-weight: 500;
}

.product-stock{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #f4faf6;
    color: #00a046;
    height: 2rem;
    width: 7rem;
    margin-top: 1rem;
}

.product-stock span:first-child{
    font-size: 2rem;
}

.product-stock span:last-child{
    font-size: 0.8125rem;
    margin-left: 0.5rem;
}