/***********************
	BEST SELLERS
************************/

.best-sellers{
	margin-bottom: 3rem;
}

.best-sellers-header{
	display: flex;
	align-items: center;
	height: 5rem;
	border-bottom: 1px solid var(--color-form-border);
}

.top-left-text{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
}

.top-right-text{
	font-size: 0.8125rem;
	font-weight: bold;
	color: var(--color-link);
	cursor: pointer;
}

#long-arrow-right{
	margin-top: -3px;
}

.best-sellers-product{
	margin-top: 2rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.product-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.best-sellers .product-content{
	width: 14.525rem;
	height: 26.125rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid transparent;
}

.thumbnail-wrapper{
	height: 15.75rem;
}

.product-content:hover .content-wrapper a{
	color: var(--color-link);
}

.product-card {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13.875rem;
	height: 13.875rem;
}

.hover-slide-images-toggler{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13.875rem;
}

.banner-hover{
	width: 13.875rem;
	position: relative;
}

.banner-hover .col{
	height: 13.875rem;
	z-index: 2;
}

.banner{
	height: 13.875rem;
	z-index: 1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 9.75rem;
	padding: 0 0.3rem;
}

.content-wrapper a{
	color: var(--color-main-text);
	font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.07px;
    line-height: 1.4;
}

.content-wrapper a:hover{
	text-decoration: underline;
}

.product-rating i{
	font-size: 0.8rem;
    color: var(--color-secondary);
}
.product-rating span{
	font-size: 0.9rem;
}
.content-wrapper .price{
	font-size: 1.4rem;
}
.content-wrapper p{
	font-size: 0.8rem;
	opacity: 0.8;
}

.navi{
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 12rem;
}

.slide-icon-below{
	border: 1px solid var(--color-form-border);
	background-color: var(--color-background);
    height: 0.5rem;
	width: 0.5rem;
    border-radius: 50%;
	z-index: 3;
	margin-left: 3px;
	margin-right: 3px;
}

.slide-icon-below.active{
	background-color: var(--color-secondary);
	border: var(--color-secondary);
}

.banner-item{
	transform: scale(1.12);
	display: none;
}

.banner-item.active{
	display: block;
}

.product-badge{
	position: absolute;
	background-color: var(--color-theme-danger);
	font-size: 0.8125rem;
	margin-top: 0.7rem;
	margin-left: 0.2rem;
	height: 1.6rem;
	width: 3.4rem;
	z-index: 10;
}

.product-favorite{
	position: absolute;
	background-color: var(--color-background);
	border: 1px solid var(--color-product-fade-border);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.7rem;
	margin-left: 11.85rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
}

.product-favorite a{
	color: var(--color-main-text);
}

.product-favorite:hover{
	border: 1px solid #ffe0e0;
	background-color: #fff3f3;
}

.product-favorite:hover a{
	color: #ff2626;
}

.product-footer {
	position: absolute;
	width: 16rem;
	height: 10.625rem;
	top: 100%;
	margin: auto;
	z-index: 999;
	visibility: hidden;
  	opacity: 0;
}

.product-wrapper:hover .product-footer{
	visibility: visible;
  	opacity: 1;
}

.product-content-fade{
	position: absolute;
	top: -3%;
	border-radius: 8px;
	height: 38rem;
	width: 17rem;
	border: 1px solid var(--color-product-fade-border);
	background-color: var(--color-background);
	box-shadow: 0px 1px 30px rgb(62 68 90 / 9%);
	z-index: 20;
	pointer-events: none;
	visibility: hidden;
  	opacity: 0;
  	transition: opacity 0.2s cubic-bezier(0.28, 0.12, 0.22, 1), visibility 0ms ease 0ms;
}

.product-wrapper:hover .product-content-fade{
	visibility: visible;
  	opacity: 1;
  	transition-delay: 0ms;
}

.product-wrapper:hover{
	z-index: 99;
}

.product-wrapper:hover .product-content{
	z-index: 100;
}

.cart-wrapper{
	border-top: 1px solid var(--color-form-border);
	border-bottom: 1px solid var(--color-form-border);
	padding: 0.875rem;
	display: flex;
	justify-content: center;
}

.add-to-cart-button{
	width: 13.75rem;
	background-color: var(--color-shop-button);
	border: none;
	outline: none;
	font-weight: 500;
}

.product-footer-info {
	margin-top: 0.8rem;
}

.product-footer-info li{
	font-size: 0.75rem;
	list-style: disc;
	margin-top: 0.2rem;
	margin-left: 2.5rem;
}

.best-sellers .countdown{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 500;
}

.best-sellers .count-item{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
    font-weight: 600;
    width: 2rem;
    height: 2.125rem;
    color: var(--color-background);
    background-color: var(--color-theme-danger);
	border-radius: 4px;
	margin-right: 0.25rem;
}

.best-sellers .count-item:not(:first-child){
	margin-left: 0.25rem;
}

.best-sellers .timeleft{
	margin-left: 0.5rem;
	font-size: 0.75rem;
    color: var(--color-text-light);
}

.best-sellers .best-seller-text{
	margin-right: 1.5rem;
}

.best-sellers .banner-item img{
	width: 10rem;
	height: auto;
}