/***********************
	HEADER
************************/
.site-header {
	width: 100%;
	position: relative;
	z-index: 20;

	border-bottom: 1px solid var(--color-theme-border);
}

/*------- TOP -------*/

.header-top {
	font-size: 12px;
	background-color: var(--color-background);
	color: var(--color-main-text);
}

.header-wrapper {
	display: flex;
	align-items: center;
}

.site-header .column.right {
	margin-left: auto;
}

.menu.horizontal {
	display: flex;
	flex-direction: row;
}

.menu > li:not(:last-child) {
	margin-right: 1.5rem;
}

.header-top .menu > li > a {
	display: flex;
	color: var(--color-main-text);
	padding: 0.75rem 0;
}

.menu > li a:hover {
	color: var(--color-link);
}

.menu .menu-item.current-menu-item a {
	color: var(--color-link);
}

/*------- MAIN -------*/

.header-main .header-wrapper {
	padding: 1.25rem 0;
}

.header-main .site-brand {
	margin-right: 2.5rem;
	display: inline-flex;
	align-items: center;
}

.header-main .column.right {
	flex: 1;
}

.site-brand a {
	display: inline-flex;
	align-items: center;
}

.site-brand a img {
	width: 171px;
	height: auto;
}

.search-form {
	position: relative;
	width: 100%;
}

.search-form label {
	position: absolute;
	left: 1.25rem;
	top: 50%;
	transform: translateY(-50%);

	font-size: 1.25rem;
	color: var(--color-form-placeholder);
	cursor: pointer;
}

.search-form input[type='search'] {
	width: 100%;
	height: 3.125rem;
	padding-left: 3.625rem;
	display: inline-flex;
	align-items: center;

	font-size: 0.875rem;

	border: 1px solid var(--color-form-border);
	border-radius: var(--size-form-radius);
	border-bottom-left-radius: 0;

}

button.search-submit {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;

	height: 3.125rem;
	padding: 0 1.5625rem;

	font-weight: 600;
	font-size: 0.875rem;
	color: #fff;
	background-color: var(--color-primary);
	border-color: var(--color-primary);

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

}

.search-form + .header-addons {
	margin-left: 2.5rem;
}

.login-button a{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-addons {
	position: relative;
	display: inline-flex;
	flex-shrink: 0;
	align-items: center;
	margin-left: 1.25rem;
	color: black;
	line-height: 1.1;
	cursor: pointer;
}

.header-addons a {
	color: currentColor;
}

.header-addons:hover {
	color: currentColor;
}

.header-addons-icon {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;

	font-size: 1.75rem;
}

.header-addons-icon a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.button-count {
	position: absolute;
	top: 0;
	right: -3px;

	min-width: 1.125rem;
	height: 1.125rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6875rem;
	font-weight: 700;

	color: #021523;
	background-color: #ffbd27;
	border-radius: 50%;
}

.header-addons-text {
	display: flex;
	flex-direction: column;
	margin-left: 0.625rem;
}

.header-addons .sub-text {
	font-size: 0.6875rem;
	opacity: 0.5;
	margin-bottom: 2px;
}

.header-addons-text .primary-text {
	font-size: 0.9375rem;
	font-weight: 500;
}

/*------- NAV -------*/
.header-nav a {
	color: currentColor;
	transition: all 0.1s cubic-bezier(0.28, 0.12, 0.22, 1);
}

.header-nav .category {
	position: relative;
	color: var(--color-main-text);
	margin-right: 1.875rem;
	z-index: 1;
}

.category > a {
	display: inline-flex;
	align-items: center;
}
.category > a .category-icon {
	font-size: 1.1875rem;
}
.category > a .category-text {
	font-size: 0.875rem;
	font-weight: 500;
	margin-left: 0.75rem;
}
.category > a .category-arrow {
	font-size: 1.25rem;
	margin-left: auto;
}

.category-all {
	min-width: 293px;
	height: 54px;

	padding: 0 1.25rem;

	background-color: #f7f8f9;
	border-top-left-radius: var(--size-form-radius);
	border-top-right-radius: var(--size-form-radius);
}

.category-menu {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;

	min-width: 293px;
	padding: 0;
	margin: 0;

	border: 1px solid #e5e8ec;
	border-bottom-left-radius: var(--size-form-radius);
	border-bottom-right-radius: var(--size-form-radius);
	background-color: var(--color-background);
}

.category-menu.active {
	display: block;
	z-index: 999;
}

.category-menu li > a {
	height: 44px;
	padding: 0 0.9375rem;
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
}

.category-menu a .category-icon {
	margin-right: 0.65rem;
	width: 1.5625rem;
	height: 1.5625rem;

	font-size: 1.125rem;
}

.category-menu a .category-arrow {
	font-size: 1rem;
	margin-right: 0.25rem;
	margin-left: auto;
}

.category-menu > li + li {
	border-top: 1px solid #e5e8ec;
}

.category-nav a {
	height: 54px;
	display: inline-flex;
	align-items: center;

	font-size: 15px;
	font-weight: 500;
}

.category-nav a > .icon-wrapper {
	font-size: 1.25rem;
	margin-right: 0.5rem;
}

.discount-banner {
	display: inline-flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
}

.discount-banner .discount-banner-icon {
	font-size: 1.5rem;
	color: var(--color-theme-danger);
	margin-right: 0.625rem;
}

.discount-banner .discount-banner-text {
	display: inline-flex;
	flex-direction: column;
	line-height: 1;
}
.discount-banner .discount-banner-text .small-text {
	font-size: 0.625rem;
	opacity: 0.5;
	margin-bottom: 0.1875rem;
}
.discount-banner .discount-banner-text .main-text {
	font-size: 0.875rem;
	font-weight: 500;
}

.discount-banner .discount-banner-arrow {
	font-size: 1.125rem;
	margin-left: 1.25rem;
}

@media (max-width: 768px) {
	.header-main .site-brand{
		margin-right: 0.5rem;
	}
}

#productList {
	width: 100%;
	position: absolute;

}

.search-list {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
}

.search-list a{
	color: black;
}

.search-list:hover {
	background-color: #d5f3fe;
}

.search-list-link {
	display: flex;
	align-items: center;

}

.search-image{
	width: 4rem;
	height: auto;
	float: left;
	padding: 0 0.5rem;
}

.productList-wrapper {
	position: absolute;
	width: 100%;
	background-color: white;
	z-index: 9999;
	border: 1px solid var(--color-form-border);
	border-width: 0 1px 1px 1px;
	border-radius: 0px 0px 6px 6px;
}

.search-list:last-child {
	border-radius: 0px 0px 6px 6px;
}